*{
    margin:0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 1320px; 
}
.row{
    display: flex;
    flex-wrap: nowrap;
}
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}

/* header */
header{
    padding: 20px 0;
}
.logo a img{
    width: 150px;
}
.navbar ul li {
    padding: 0 10px;
}
.navbar ul li a {
    color: black;
    font-size: 20px;
}
.dropdown{
    position: relative;
    transition: all 1s;
}
.dropdown:hover .dropdown-menu{
    display: block;
    color: aqua;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: rgba(236, 136, 5, 0.824);
    border-radius: 15px;
    margin: 0;
    width: 200px;
    transition: all 1s;
}
.dropdown-menu ul li{
    padding: 7px 0;
}
.dropdown-menu ul li a{
    color:rgb(35, 4, 160);
    text-align: center;
}
.dropdown-menu ul li:hover{
    background-color: rgba(0, 174, 183, 0.595);
    padding:6px ;
    border-radius: 50px;
}




/* slider */
.prodact  {
   
   h4{
    font-size: 30px;
    padding: 10px 0;
   }
   p{
    font-size: 20px;
    padding: 6px 0;
   }
}